

.carousel{
    margin: 65px;
}
.container1{
    margin: 60px;
    margin-top: 150px;
    background-color: rgb(70, 42, 82);
    color: white;
}
body{
    background-color: rgb(46, 45, 45);
    
}